.reset {
  min-height: 400px;
  overflow: hidden;
  padding-bottom: 64px;
  .row {
    position: relative;
  }
  .col {
    z-index: 2;
  }
  &__header {
    position: absolute;
  }
  &__title {
    margin-top: 68px;
    margin-bottom: 23px;
    font-size: 38px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-align: center;
    color: $white;
  }
  &__author {
    &_logo {
      width: 36px;
      height: 36px;
      background: url('../img/css_sprites.png') -158px -10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_info {
      font-size: 13px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.54;
      letter-spacing: normal;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  &__bg {
    padding-top: 20px;
    // position: absolute;
    // top: 20px;
    z-index: 1;
    height: 400px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 9px;
      object-fit: cover;
    }
  }
  &__descr {
    max-width: 620px;
    margin: auto;
    &_title {
      margin-top: 64px;
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: $black;
    }
    &_text {
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.56;
      letter-spacing: normal;
      color: #7a7a7a;
      margin-bottom: 24px;
      &.mod {
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #a33ba3;
        padding-left: 30px;
        margin-left: 40px;
        border-left: 3px solid #a33ba3;
      }
      a {
        color: #a33ba3;
        text-decoration: none;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .reset {
    &__title {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}